{
    "openapi": "3.0.0",
    "info": {
        "title": "Square",
        "description": "Use Square APIs to manage and run business including payment, customer, product, inventory, and employee management.",
        "termsOfService": "https://connect.squareup.com/tos",
        "contact": {
            "name": "Square Developer Platform",
            "url": "https://squareup.com/developers",
            "email": "developers@squareup.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "2.0",
        "x-server-configuration": {
            "default-environment": "production",
            "default-server": "default",
            "environments": [
                {
                    "name": "production",
                    "servers": [
                        {
                            "name": "default",
                            "url": "https://connect.squareup.com"
                        }
                    ]
                },
                {
                    "name": "sandbox",
                    "servers": [
                        {
                            "name": "default",
                            "url": "https://connect.squareupsandbox.com"
                        }
                    ]
                },
                {
                    "name": "custom",
                    "servers": [
                        {
                            "name": "default",
                            "url": "{custom_url}"
                        }
                    ]
                }
            ],
            "parameters": [
                {
                    "name": "custom_url",
                    "description": "Sets the base URL requests are made to. Defaults to `https://connect.squareup.com`",
                    "type": "string",
                    "example": "https://connect.squareup.com"
                }
            ]
        },
        "x-square-generic-error-codes": [
            "ACCESS_TOKEN_EXPIRED",
            "ACCESS_TOKEN_REVOKED",
            "API_VERSION_INCOMPATIBLE",
            "APPLICATION_DISABLED",
            "ARRAY_EMPTY",
            "ARRAY_LENGTH_TOO_LONG",
            "ARRAY_LENGTH_TOO_SHORT",
            "BAD_CERTIFICATE",
            "BAD_GATEWAY",
            "BAD_REQUEST",
            "CONFLICT",
            "CONFLICTING_PARAMETERS",
            "CURRENCY_MISMATCH",
            "EXPECTED_ARRAY",
            "EXPECTED_BASE64_ENCODED_BYTE_ARRAY",
            "EXPECTED_BOOLEAN",
            "EXPECTED_FLOAT",
            "EXPECTED_INTEGER",
            "EXPECTED_JSON_BODY",
            "EXPECTED_MAP",
            "EXPECTED_OBJECT",
            "EXPECTED_STRING",
            "FORBIDDEN",
            "GATEWAY_TIMEOUT",
            "GONE",
            "IDEMPOTENCY_KEY_REUSED",
            "INCORRECT_TYPE",
            "INSUFFICIENT_SCOPES",
            "INTERNAL_SERVER_ERROR",
            "INVALID_ARRAY_VALUE",
            "INVALID_CONTENT_TYPE",
            "INVALID_CURSOR",
            "INVALID_ENUM_VALUE",
            "INVALID_FORM_VALUE",
            "INVALID_SORT_ORDER",
            "INVALID_SQUARE_VERSION_FORMAT",
            "INVALID_TIME",
            "INVALID_TIME_RANGE",
            "INVALID_VALUE",
            "LOCATION_MISMATCH",
            "MAP_KEY_LENGTH_TOO_LONG",
            "MAP_KEY_LENGTH_TOO_SHORT",
            "MERCHANT_SUBSCRIPTION_NOT_FOUND",
            "METHOD_NOT_ALLOWED",
            "MISSING_REQUIRED_PARAMETER",
            "NOT_ACCEPTABLE",
            "NOT_FOUND",
            "NOT_IMPLEMENTED",
            "NO_FIELDS_SET",
            "RATE_LIMITED",
            "REQUEST_ENTITY_TOO_LARGE",
            "REQUEST_TIMEOUT",
            "SANDBOX_NOT_SUPPORTED",
            "SERVICE_UNAVAILABLE",
            "TOO_MANY_MAP_ENTRIES",
            "UNAUTHORIZED",
            "UNEXPECTED_VALUE",
            "UNKNOWN_BODY_PARAMETER",
            "UNKNOWN_QUERY_PARAMETER",
            "UNPROCESSABLE_ENTITY",
            "UNSUPPORTED_MEDIA_TYPE",
            "V1_ACCESS_TOKEN",
            "V1_APPLICATION",
            "VALUE_EMPTY",
            "VALUE_REGEX_MISMATCH",
            "VALUE_TOO_HIGH",
            "VALUE_TOO_LONG",
            "VALUE_TOO_LOW",
            "VALUE_TOO_SHORT"
        ]
    },
    "servers": [
        {
            "url": "https://connect.squareup.com"
        }
    ],
    "paths": {
        "/oauth2/revoke": {
            "post": {
                "tags": [
                    "OAuth"
                ],
                "summary": "RevokeToken",
                "description": "Revokes an access token generated with the OAuth flow.\n\nIf an account has more than one OAuth access token for your application, this\nendpoint revokes all of them, regardless of which token you specify. \n\n__Important:__ The `Authorization` header for this endpoint must have the\nfollowing format:\n\n```\nAuthorization: Client APPLICATION_SECRET\n```\n\nReplace `APPLICATION_SECRET` with the application secret on the **OAuth**\npage for your application in the Developer Dashboard.",
                "operationId": "revokeToken",
                "parameters": [],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RevokeTokenRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The result of revoking the access token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RevokeTokenResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/oauth2/token": {
            "post": {
                "tags": [
                    "OAuth"
                ],
                "summary": "ObtainToken",
                "description": "Returns an OAuth access token and refresh token using the `authorization_code`\nor `refresh_token` grant type.\n\nWhen `grant_type` is `authorization_code`:\n- With the [code flow](https://developer.squareup.com/docs/oauth-api/overview#code-flow),\nprovide `code`, `client_id`, and `client_secret`.\n- With the [PKCE flow](https://developer.squareup.com/docs/oauth-api/overview#pkce-flow),\nprovide `code`, `client_id`, and `code_verifier`. \n\nWhen `grant_type` is `refresh_token`:\n- With the code flow, provide `refresh_token`, `client_id`, and `client_secret`.\nThe response returns the same refresh token provided in the request.\n- With the PKCE flow, provide `refresh_token` and `client_id`. The response returns\na new refresh token.\n\nYou can use the `scopes` parameter to limit the set of permissions authorized by the\naccess token. You can use the `short_lived` parameter to create an access token that\nexpires in 24 hours.\n\n__Important:__ OAuth tokens should be encrypted and stored on a secure server.\nApplication clients should never interact directly with OAuth tokens.",
                "operationId": "obtainToken",
                "parameters": [],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ObtainTokenRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The issued access token and refresh token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ObtainTokenResponse"
                                }
                            }
                        }
                    }
                },
                "security": [],
                "x-release-status": "PUBLIC"
            }
        },
        "/oauth2/token/status": {
            "post": {
                "tags": [
                    "OAuth"
                ],
                "summary": "RetrieveTokenStatus",
                "description": "Returns information about an [OAuth access token](https://developer.squareup.com/docs/build-basics/access-tokens#get-an-oauth-access-token)\u00a0or an application\u2019s [personal access token](https://developer.squareup.com/docs/build-basics/access-tokens#get-a-personal-access-token).\n\nAdd the access token to the Authorization header of the request.\n\n__Important:__ The `Authorization` header you provide to this endpoint must have the following format:\n\n```\nAuthorization: Bearer ACCESS_TOKEN\n```\n\nwhere `ACCESS_TOKEN` is a\n[valid production authorization credential](https://developer.squareup.com/docs/build-basics/access-tokens).\n\nIf the access token is expired or not a valid access token, the endpoint returns an `UNAUTHORIZED` error.",
                "operationId": "retrieveTokenStatus",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "The status of the access token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetrieveTokenStatusResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v1/{locationId}/orders": {
            "get": {
                "tags": [
                    "V1Transactions"
                ],
                "summary": "V1ListOrders",
                "description": "Provides summary information for a merchant's online store orders.",
                "operationId": "v1ListOrders",
                "parameters": [
                    {
                        "name": "locationId",
                        "in": "path",
                        "description": "The ID of the location to list online store orders for",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order in which payments are listed in the response",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/SortOrder"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of payments to return in a single response. This value cannot exceed 200",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "batch_token",
                        "in": "query",
                        "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "batchToken"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved list of V1 orders",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/V1Order"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "oauth2": [
                            "ORDERS_READ"
                        ]
                    }
                ],
                "x-release-status": "DEPRECATED",
                "x-visibility": "SDK_ONLY",
                "x-deprecation": {}
            }
        },
        "/v1/{locationId}/orders/{orderId}": {
            "get": {
                "tags": [
                    "V1Transactions"
                ],
                "summary": "V1RetrieveOrder",
                "description": "Provides comprehensive information for a single online store order, including the order's history.",
                "operationId": "v1RetrieveOrder",
                "parameters": [
                    {
                        "name": "locationId",
                        "in": "path",
                        "description": "The ID of the order's associated location",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "The order's Square-issued ID. You obtain this value from Order objects returned by the List Orders endpoint",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved V1 order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V1Order"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "oauth2": [
                            "ORDERS_READ"
                        ]
                    }
                ],
                "x-release-status": "DEPRECATED",
                "x-visibility": "SDK_ONLY",
                "x-deprecation": {}
            },
            "put": {
                "tags": [
                    "V1Transactions"
                ],
                "summary": "V1UpdateOrder",
                "description": "Updates the details of an online store order. Every update you perform on an order corresponds to one of three actions:",
                "operationId": "v1UpdateOrder",
                "parameters": [
                    {
                        "name": "locationId",
                        "in": "path",
                        "description": "The ID of the order's associated location",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderId",
                        "in": "path",
                        "description": "The order's Square-issued ID. You obtain this value from Order objects returned by the List Orders endpoint",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/V1UpdateOrderRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The updated V1 order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/V1Order"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "oauth2": [
                            "ORDERS_WRITE"
                        ]
                    }
                ],
                "x-release-status": "DEPRECATED",
                "x-visibility": "SDK_ONLY",
                "x-deprecation": {}
            }
        },
        "/v2/apple-pay/domains": {
            "post": {
                "tags": [
                    "ApplePay"
                ],
                "summary": "RegisterDomain",
                "description": "Activates a domain for use with Apple Pay on the Web and Square. A validation\nis performed on this domain by Apple to ensure that it is properly set up as\nan Apple Pay enabled domain.\n\nThis endpoint provides an easy way for platform developers to bulk activate\nApple Pay on the Web with Square for merchants using their platform.\n\nNote: You will need to host a valid domain verification file on your domain to support Apple Pay.  The\ncurrent version of this file is always available at https://app.squareup.com/digital-wallets/apple-pay/apple-developer-merchantid-domain-association,\nand should be hosted at `.well_known/apple-developer-merchantid-domain-association` on your\ndomain.  This file is subject to change; we strongly recommend checking for updates regularly and avoiding\nlong-lived caches that might not keep in sync with the correct file version.\n\nTo learn more about the Web Payments SDK and how to add Apple Pay, see [Take an Apple Pay Payment](https://developer.squareup.com/docs/web-payments/apple-pay).",
                "operationId": "registerDomain",
                "parameters": [],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterDomainRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The result of registering the domain",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RegisterDomainResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bank-accounts": {
            "get": {
                "tags": [
                    "BankAccounts"
                ],
                "summary": "ListBankAccounts",
                "description": "Returns a list of [BankAccount](entity:BankAccount) objects linked to a Square account.",
                "operationId": "listBankAccounts",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The pagination cursor returned by a previous call to this endpoint.\nUse it in the next `ListBankAccounts` request to retrieve the next set\nof results.\n\nSee the [Pagination](https://developer.squareup.com/docs/working-with-apis/pagination) guide for more information",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Upper limit on the number of bank accounts to return in the response.\nCurrently, 1000 is the largest supported limit. You can specify a limit\nof up to 1000 bank accounts. This is also the default limit",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "location_id",
                        "in": "query",
                        "description": "Location ID. You can specify this optional filter\nto retrieve only the linked bank accounts belonging to a specific location",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "locationId"
                    },
                    {
                        "name": "customer_id",
                        "in": "query",
                        "description": "Customer ID. You can specify this optional filter\nto retrieve only the linked bank accounts belonging to a specific customer",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "customerId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved bank accounts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListBankAccountsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "BANK_ACCOUNTS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC",
                "x-endpoint-errors": [
                    {
                        "error-code": "INTERNAL_SERVER_ERROR"
                    },
                    {
                        "error-code": "BAD_REQUEST"
                    }
                ]
            },
            "post": {
                "tags": [
                    "BankAccounts"
                ],
                "summary": "CreateBankAccount",
                "description": "Store a bank account on file for a square account",
                "operationId": "createBankAccount",
                "parameters": [],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateBankAccountRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The created bank account",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateBankAccountResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "BANK_ACCOUNTS_WRITE"
                        ]
                    }
                ],
                "x-release-status": "BETA",
                "x-endpoint-errors": [
                    {
                        "error-code": "UNAUTHORIZED"
                    },
                    {
                        "error-code": "BAD_REQUEST"
                    },
                    {
                        "error-code": "NOT_FOUND"
                    }
                ]
            }
        },
        "/v2/bank-accounts/by-v1-id/{v1BankAccountId}": {
            "get": {
                "tags": [
                    "BankAccounts"
                ],
                "summary": "GetBankAccountByV1Id",
                "description": "Returns details of a [BankAccount](entity:BankAccount) identified by V1 bank account ID.",
                "operationId": "getBankAccountByV1Id",
                "parameters": [
                    {
                        "name": "v1BankAccountId",
                        "in": "path",
                        "description": "Connect V1 ID of the desired `BankAccount`. For more information, see \n[Retrieve a bank account by using an ID issued by V1 Bank Accounts API](https://developer.squareup.com/docs/bank-accounts-api#retrieve-a-bank-account-by-using-an-id-issued-by-v1-bank-accounts-api)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved bank account by v1 id",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetBankAccountByV1IdResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "BANK_ACCOUNTS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bank-accounts/{bankAccountId}": {
            "get": {
                "tags": [
                    "BankAccounts"
                ],
                "summary": "GetBankAccount",
                "description": "Retrieve details of a [BankAccount](entity:BankAccount) bank account linked to a Square account.",
                "operationId": "getBankAccount",
                "parameters": [
                    {
                        "name": "bankAccountId",
                        "in": "path",
                        "description": "Square-issued ID of the desired `BankAccount`",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved bank account",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetBankAccountResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "BANK_ACCOUNTS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC",
                "x-endpoint-errors": [
                    {
                        "error-code": "INTERNAL_SERVER_ERROR"
                    },
                    {
                        "error-code": "BAD_REQUEST"
                    },
                    {
                        "error-code": "NOT_FOUND"
                    }
                ]
            }
        },
        "/v2/bank-accounts/{bankAccountId}/disable": {
            "post": {
                "tags": [
                    "BankAccounts"
                ],
                "summary": "DisableBankAccount",
                "description": "Disable a bank account.",
                "operationId": "disableBankAccount",
                "parameters": [
                    {
                        "name": "bankAccountId",
                        "in": "path",
                        "description": "The ID of the bank account to disable",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The disabled bank account",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DisableBankAccountResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "BANK_ACCOUNTS_WRITE"
                        ]
                    }
                ],
                "x-release-status": "BETA",
                "x-endpoint-errors": [
                    {
                        "error-code": "UNAUTHORIZED"
                    },
                    {
                        "error-code": "BAD_REQUEST"
                    },
                    {
                        "error-code": "NOT_FOUND"
                    }
                ]
            }
        },
        "/v2/bookings": {
            "get": {
                "tags": [
                    "Bookings"
                ],
                "summary": "ListBookings",
                "description": "Retrieve a collection of bookings.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_READ` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_READ` and `APPOINTMENTS_READ` for the OAuth scope.",
                "operationId": "listBookings",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results per page to return in a paged response",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The pagination cursor from the preceding response to return the next page of the results. Do not set this when retrieving the first page of the results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customer_id",
                        "in": "query",
                        "description": "The [customer](entity:Customer) for whom to retrieve bookings. If this is not set, bookings for all customers are retrieved",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "customerId"
                    },
                    {
                        "name": "team_member_id",
                        "in": "query",
                        "description": "The team member for whom to retrieve bookings. If this is not set, bookings of all members are retrieved",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "teamMemberId"
                    },
                    {
                        "name": "location_id",
                        "in": "query",
                        "description": "The location for which to retrieve bookings. If this is not set, all locations' bookings are retrieved",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "locationId"
                    },
                    {
                        "name": "start_at_min",
                        "in": "query",
                        "description": "The RFC 3339 timestamp specifying the earliest of the start time. If this is not set, the current time is used",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "startAtMin"
                    },
                    {
                        "name": "start_at_max",
                        "in": "query",
                        "description": "The RFC 3339 timestamp specifying the latest of the start time. If this is not set, the time of 31 days after `start_at_min` is used",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "startAtMax"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved bookings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListBookingsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            },
            "post": {
                "tags": [
                    "Bookings"
                ],
                "summary": "CreateBooking",
                "description": "Creates a booking.\n\nThe required input must include the following:\n- `Booking.location_id`\n- `Booking.start_at`\n- `Booking.AppointmentSegment.team_member_id`\n- `Booking.AppointmentSegment.service_variation_id`\n- `Booking.AppointmentSegment.service_variation_version`\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_WRITE` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_WRITE` and `APPOINTMENTS_WRITE` for the OAuth scope.\n\nFor calls to this endpoint with seller-level permissions to succeed, the seller must have subscribed to *Appointments Plus*\nor *Appointments Premium*.",
                "operationId": "createBooking",
                "parameters": [],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateBookingRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The created booking",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateBookingResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_WRITE"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/availability/search": {
            "post": {
                "tags": [
                    "Bookings"
                ],
                "summary": "SearchAvailability",
                "description": "Searches for availabilities for booking.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_READ` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_READ` and `APPOINTMENTS_READ` for the OAuth scope.",
                "operationId": "searchAvailability",
                "parameters": [],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SearchAvailabilityRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The matching availabilities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchAvailabilityResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/bulk-retrieve": {
            "post": {
                "tags": [
                    "Bookings"
                ],
                "summary": "BulkRetrieveBookings",
                "description": "Bulk-Retrieves a list of bookings by booking IDs.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_READ` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_READ` and `APPOINTMENTS_READ` for the OAuth scope.",
                "operationId": "bulkRetrieveBookings",
                "parameters": [],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkRetrieveBookingsRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The retrieved bookings keyed by booking ID",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkRetrieveBookingsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/business-booking-profile": {
            "get": {
                "tags": [
                    "Bookings"
                ],
                "summary": "RetrieveBusinessBookingProfile",
                "description": "Retrieves a seller's booking profile.",
                "operationId": "retrieveBusinessBookingProfile",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "The retrieved business booking profile",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetrieveBusinessBookingProfileResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_BUSINESS_SETTINGS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/custom-attribute-definitions": {
            "get": {
                "tags": [
                    "BookingCustomAttributes"
                ],
                "summary": "ListBookingCustomAttributeDefinitions",
                "description": "Get all bookings custom attribute definitions.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_READ` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_READ` and `APPOINTMENTS_READ` for the OAuth scope.",
                "operationId": "listBookingAttributeDefinitions",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return in a single paged response. This limit is advisory.\nThe response might contain more or fewer results. The minimum value is 1 and the maximum value is 100.\nThe default value is 20. For more information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The cursor returned in the paged response from the previous call to this endpoint.\nProvide this cursor to retrieve the next page of results for your original request.\nFor more information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved booking attribute definitions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListBookingCustomAttributeDefinitionsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            },
            "post": {
                "tags": [
                    "BookingCustomAttributes"
                ],
                "summary": "CreateBookingCustomAttributeDefinition",
                "description": "Creates a bookings custom attribute definition.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_WRITE` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_WRITE` and `APPOINTMENTS_WRITE` for the OAuth scope.\n\nFor calls to this endpoint with seller-level permissions to succeed, the seller must have subscribed to *Appointments Plus*\nor *Appointments Premium*.",
                "operationId": "createBookingAttributeDefinition",
                "parameters": [],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateBookingCustomAttributeDefinitionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The created booking attribute definition",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateBookingCustomAttributeDefinitionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_WRITE"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/custom-attribute-definitions/{key}": {
            "get": {
                "tags": [
                    "BookingCustomAttributes"
                ],
                "summary": "RetrieveBookingCustomAttributeDefinition",
                "description": "Retrieves a bookings custom attribute definition.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_READ` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_READ` and `APPOINTMENTS_READ` for the OAuth scope.",
                "operationId": "retrieveBookingAttributeDefinition",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the custom attribute definition to retrieve. If the requesting application\nis not the definition owner, you must use the qualified key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "description": "The current version of the custom attribute definition, which is used for strongly consistent\nreads to guarantee that you receive the most up-to-date data. When included in the request,\nSquare returns the specified version or a higher version if one exists. If the specified version\nis higher than the current version, Square returns a `BAD_REQUEST` error",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved booking custom attribute definition",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetrieveBookingCustomAttributeDefinitionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            },
            "put": {
                "tags": [
                    "BookingCustomAttributes"
                ],
                "summary": "UpdateBookingCustomAttributeDefinition",
                "description": "Updates a bookings custom attribute definition.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_WRITE` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_WRITE` and `APPOINTMENTS_WRITE` for the OAuth scope.\n\nFor calls to this endpoint with seller-level permissions to succeed, the seller must have subscribed to *Appointments Plus*\nor *Appointments Premium*.",
                "operationId": "updateBookingAttributeDefinition",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the custom attribute definition to update",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateBookingCustomAttributeDefinitionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The updated booking attribute definition",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateBookingCustomAttributeDefinitionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_WRITE"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            },
            "delete": {
                "tags": [
                    "BookingCustomAttributes"
                ],
                "summary": "DeleteBookingCustomAttributeDefinition",
                "description": "Deletes a bookings custom attribute definition.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_WRITE` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_WRITE` and `APPOINTMENTS_WRITE` for the OAuth scope.\n\nFor calls to this endpoint with seller-level permissions to succeed, the seller must have subscribed to *Appointments Plus*\nor *Appointments Premium*.",
                "operationId": "deleteBookingAttributeDefinition",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the custom attribute definition to delete",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The result of deleting the booking custom attribute definition",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteBookingCustomAttributeDefinitionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_WRITE"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/custom-attributes/bulk-delete": {
            "post": {
                "tags": [
                    "BookingCustomAttributes"
                ],
                "summary": "BulkDeleteBookingCustomAttributes",
                "description": "Bulk deletes bookings custom attributes.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_WRITE` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_WRITE` and `APPOINTMENTS_WRITE` for the OAuth scope.\n\nFor calls to this endpoint with seller-level permissions to succeed, the seller must have subscribed to *Appointments Plus*\nor *Appointments Premium*.",
                "operationId": "bulkDeleteBookingCustomAttributes",
                "parameters": [],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkDeleteBookingCustomAttributesRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The results of deleting the booking custom attributes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkDeleteBookingCustomAttributesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_WRITE"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/custom-attributes/bulk-upsert": {
            "post": {
                "tags": [
                    "BookingCustomAttributes"
                ],
                "summary": "BulkUpsertBookingCustomAttributes",
                "description": "Bulk upserts bookings custom attributes.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_WRITE` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_WRITE` and `APPOINTMENTS_WRITE` for the OAuth scope.\n\nFor calls to this endpoint with seller-level permissions to succeed, the seller must have subscribed to *Appointments Plus*\nor *Appointments Premium*.",
                "operationId": "bulkUpsertBookingCustomAttributes",
                "parameters": [],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkUpsertBookingCustomAttributesRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The results of upserting the booking custom attributes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkUpsertBookingCustomAttributesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_WRITE"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/location-booking-profiles": {
            "get": {
                "tags": [
                    "Bookings"
                ],
                "summary": "ListLocationBookingProfiles",
                "description": "Lists location booking profiles of a seller.",
                "operationId": "listLocationBookingProfiles",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return in a paged response",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The pagination cursor from the preceding response to return the next page of the results. Do not set this when retrieving the first page of the results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved location booking profiles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListLocationBookingProfilesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_BUSINESS_SETTINGS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/location-booking-profiles/{locationId}": {
            "get": {
                "tags": [
                    "Bookings"
                ],
                "summary": "RetrieveLocationBookingProfile",
                "description": "Retrieves a seller's location booking profile.",
                "operationId": "retrieveLocationBookingProfile",
                "parameters": [
                    {
                        "name": "locationId",
                        "in": "path",
                        "description": "The ID of the location to retrieve the booking profile",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved location booking profile",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetrieveLocationBookingProfileResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_BUSINESS_SETTINGS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/team-member-booking-profiles": {
            "get": {
                "tags": [
                    "Bookings"
                ],
                "summary": "ListTeamMemberBookingProfiles",
                "description": "Lists booking profiles for team members.",
                "operationId": "listTeamMemberBookingProfiles",
                "parameters": [
                    {
                        "name": "bookable_only",
                        "in": "query",
                        "description": "Indicates whether to include only bookable team members in the returned result (`true`) or not (`false`)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "x-ballerina-name": "bookableOnly"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return in a paged response",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The pagination cursor from the preceding response to return the next page of the results. Do not set this when retrieving the first page of the results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location_id",
                        "in": "query",
                        "description": "Indicates whether to include only team members enabled at the given location in the returned result",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "locationId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved team member booking profiles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListTeamMemberBookingProfilesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_BUSINESS_SETTINGS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/team-member-booking-profiles/bulk-retrieve": {
            "post": {
                "tags": [
                    "Bookings"
                ],
                "summary": "BulkRetrieveTeamMemberBookingProfiles",
                "description": "Retrieves one or more team members' booking profiles.",
                "operationId": "bulkRetrieveTeamMemberBookingProfiles",
                "parameters": [],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkRetrieveTeamMemberBookingProfilesRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The retrieved team member booking profiles keyed by team member ID",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkRetrieveTeamMemberBookingProfilesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_BUSINESS_SETTINGS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/team-member-booking-profiles/{teamMemberId}": {
            "get": {
                "tags": [
                    "Bookings"
                ],
                "summary": "RetrieveTeamMemberBookingProfile",
                "description": "Retrieves a team member's booking profile.",
                "operationId": "retrieveTeamMemberBookingProfile",
                "parameters": [
                    {
                        "name": "teamMemberId",
                        "in": "path",
                        "description": "The ID of the team member to retrieve",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved team member booking profile",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetrieveTeamMemberBookingProfileResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_BUSINESS_SETTINGS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/{bookingId}": {
            "get": {
                "tags": [
                    "Bookings"
                ],
                "summary": "RetrieveBooking",
                "description": "Retrieves a booking.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_READ` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_READ` and `APPOINTMENTS_READ` for the OAuth scope.",
                "operationId": "retrieveBooking",
                "parameters": [
                    {
                        "name": "bookingId",
                        "in": "path",
                        "description": "The ID of the [Booking](entity:Booking) object representing the to-be-retrieved booking",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved booking",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetrieveBookingResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            },
            "put": {
                "tags": [
                    "Bookings"
                ],
                "summary": "UpdateBooking",
                "description": "Updates a booking.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_WRITE` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_WRITE` and `APPOINTMENTS_WRITE` for the OAuth scope.\n\nFor calls to this endpoint with seller-level permissions to succeed, the seller must have subscribed to *Appointments Plus*\nor *Appointments Premium*.",
                "operationId": "updateBooking",
                "parameters": [
                    {
                        "name": "bookingId",
                        "in": "path",
                        "description": "The ID of the [Booking](entity:Booking) object representing the to-be-updated booking",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateBookingRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The updated booking",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpdateBookingResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_WRITE"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/{bookingId}/cancel": {
            "post": {
                "tags": [
                    "Bookings"
                ],
                "summary": "CancelBooking",
                "description": "Cancels an existing booking.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_WRITE` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_WRITE` and `APPOINTMENTS_WRITE` for the OAuth scope.\n\nFor calls to this endpoint with seller-level permissions to succeed, the seller must have subscribed to *Appointments Plus*\nor *Appointments Premium*.",
                "operationId": "cancelBooking",
                "parameters": [
                    {
                        "name": "bookingId",
                        "in": "path",
                        "description": "The ID of the [Booking](entity:Booking) object representing the to-be-cancelled booking",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CancelBookingRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The canceled booking",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CancelBookingResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_WRITE"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/{bookingId}/custom-attributes": {
            "get": {
                "tags": [
                    "BookingCustomAttributes"
                ],
                "summary": "ListBookingCustomAttributes",
                "description": "Lists a booking's custom attributes.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_READ` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_READ` and `APPOINTMENTS_READ` for the OAuth scope.",
                "operationId": "listBookingCustomAttributes",
                "parameters": [
                    {
                        "name": "bookingId",
                        "in": "path",
                        "description": "The ID of the target [booking](entity:Booking)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return in a single paged response. This limit is advisory.\nThe response might contain more or fewer results. The minimum value is 1 and the maximum value is 100.\nThe default value is 20. For more information, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "The cursor returned in the paged response from the previous call to this endpoint.\nProvide this cursor to retrieve the next page of results for your original request. For more\ninformation, see [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination)",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_definitions",
                        "in": "query",
                        "description": "Indicates whether to return the [custom attribute definition](entity:CustomAttributeDefinition) in the `definition` field of each\ncustom attribute. Set this parameter to `true` to get the name and description of each custom\nattribute, information about the data type, or other definition details. The default value is `false`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "x-ballerina-name": "withDefinitions"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved booking custom attributes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListBookingCustomAttributesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/bookings/{bookingId}/custom-attributes/{key}": {
            "get": {
                "tags": [
                    "BookingCustomAttributes"
                ],
                "summary": "RetrieveBookingCustomAttribute",
                "description": "Retrieves a bookings custom attribute.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_READ` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_READ` and `APPOINTMENTS_READ` for the OAuth scope.",
                "operationId": "retrieveBookingCustomAttribute",
                "parameters": [
                    {
                        "name": "bookingId",
                        "in": "path",
                        "description": "The ID of the target [booking](entity:Booking)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the custom attribute to retrieve. This key must match the `key` of a custom\nattribute definition in the Square seller account. If the requesting application is not the\ndefinition owner, you must use the qualified key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_definition",
                        "in": "query",
                        "description": "Indicates whether to return the [custom attribute definition](entity:CustomAttributeDefinition) in the `definition` field of\nthe custom attribute. Set this parameter to `true` to get the name and description of the custom\nattribute, information about the data type, or other definition details. The default value is `false`",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "x-ballerina-name": "withDefinition"
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "description": "The current version of the custom attribute, which is used for strongly consistent reads to\nguarantee that you receive the most up-to-date data. When included in the request, Square\nreturns the specified version or a higher version if one exists. If the specified version is\nhigher than the current version, Square returns a `BAD_REQUEST` error",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved booking custom attribute",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetrieveBookingCustomAttributeResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_READ"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            },
            "put": {
                "tags": [
                    "BookingCustomAttributes"
                ],
                "summary": "UpsertBookingCustomAttribute",
                "description": "Upserts a bookings custom attribute.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_WRITE` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_WRITE` and `APPOINTMENTS_WRITE` for the OAuth scope.\n\nFor calls to this endpoint with seller-level permissions to succeed, the seller must have subscribed to *Appointments Plus*\nor *Appointments Premium*.",
                "operationId": "upsertBookingCustomAttribute",
                "parameters": [
                    {
                        "name": "bookingId",
                        "in": "path",
                        "description": "The ID of the target [booking](entity:Booking)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the custom attribute to create or update. This key must match the `key` of a\ncustom attribute definition in the Square seller account. If the requesting application is not\nthe definition owner, you must use the qualified key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpsertBookingCustomAttributeRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The upserted booking custom attribute",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpsertBookingCustomAttributeResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_WRITE"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            },
            "delete": {
                "tags": [
                    "BookingCustomAttributes"
                ],
                "summary": "DeleteBookingCustomAttribute",
                "description": "Deletes a bookings custom attribute.\n\nTo call this endpoint with buyer-level permissions, set `APPOINTMENTS_WRITE` for the OAuth scope.\nTo call this endpoint with seller-level permissions, set `APPOINTMENTS_ALL_WRITE` and `APPOINTMENTS_WRITE` for the OAuth scope.\n\nFor calls to this endpoint with seller-level permissions to succeed, the seller must have subscribed to *Appointments Plus*\nor *Appointments Premium*.",
                "operationId": "deleteBookingCustomAttribute",
                "parameters": [
                    {
                        "name": "bookingId",
                        "in": "path",
                        "description": "The ID of the target [booking](entity:Booking)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "The key of the custom attribute to delete. This key must match the `key` of a custom\nattribute definition in the Square seller account. If the requesting application is not the\ndefinition owner, you must use the qualified key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The result of deleting the booking custom attribute",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteBookingCustomAttributeResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "APPOINTMENTS_WRITE"
                        ]
                    }
                ],
                "x-release-status": "PUBLIC"
            }
        },
        "/v2/cards": {
            "get": {
                "tags": [
                    "Cards"
                ],
                "summary": "ListCards",
                "description": "Retrieves a list of cards owned by the account making the request.\nA max of 25 cards will be returned.",
                "operationId": "listCards",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "A pagination cursor returned by a previous call to this endpoint.\nProvide this to retrieve the next set of results for your original query.\n\nSee [Pagination](https://developer.squareup.com/docs/build-basics/common-api-patterns/pagination) for more information",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customer_id",
                        "in": "query",
                        "description": "Limit results to cards associated with the customer supplied.\nBy default, all cards owned by the merchant are returned",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "customerId"
                    },
                    {
                        "name": "include_disabled",
                        "in": "query",
                        "description": "Includes disabled cards.\nBy default, all enabled cards owned by the merchant are returned",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "x-ballerina-name": "includeDisabled"
                    },
                    {
                        "name": "reference_id",
                        "in": "query",
                        "description": "Limit results to cards associated with the reference_id supplied",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "referenceId"
                    },
                    {
                        "name": "sort_order",
                        "in": "query",
                        "description": "Sorts the returned list by when the card was created with the specified order.\nThis field defaults to ASC",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/SortOrder"
                        },
                        "x-ballerina-name": "sortOrder"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved cards",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListCardsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ],
                "x-release-status": "PUBLIC"
            },
            "post": {
                "tags": [
                    "Cards"
                ],
                "summary": "CreateCard",
                "description": "Adds a card on file to an existing merchant.",
                "operationId": "createCard",
                "parameters": [],
                "requestBody": {
                    "description": "An object containing the fields to POST for the request\n\nSee the corresponding object definition for field details.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCardRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The created card",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateCardResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ],
                "x-release-status": "PUBLIC",
                "x-endpoint-errors": [
                    {
                        "error-code": "CARD_DECLINED_VERIFICATION_REQUIRED"
                    },
                    {
                        "error-code": "CARD_PROCESSING_NOT_ENABLED"
                    },
                    {
                        "error-code": "CUSTOMER_NOT_FOUND"
                    },
                    {
                        "error-code": "SOURCE_EXPIRED"
                    },
                    {
                        "error-code": "SOURCE_USED"
                    },
                    {
                        "error-code": "INVALID_CARD_DATA"
                    }
                ]
            }
        },
        "/v2/cards/{cardId}": {
            "get": {
                "tags": [
                    "Cards"
                ],
[...]
